DB_NAME= ---- COMPLETE THIS -----
DB_PASSWORD= ---- COMPLETE THIS -----
DB_HOST= ---- COMPLETE THIS -----
DB_PORT= ---- COMPLETE THIS -----
DB_USERNAME= ---- COMPLETE THIS -----
SERVER_PORT= ---- COMPLETE THIS -----
JWT_SECRET= ---- COMPLETE THIS -----